.container {


    background-color: #684BB1;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    height: 100vh;
}

.container .cabecalho {

    margin: 41px 80px;
}

.container .main {

    align-items: center;
    display: flex;
    justify-content: center;
}

.container .main img {
    max-width: 696px;
}


.container .main .informacoes {
    margin-left: 60px;
}

.container .main .informacoes .titulo {
    color: #fff;
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 24px 0 24px 0;
    max-width: 487px;

}

.container .main .informacoes .informacao {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1.125rem;
    line-height: 27px;
    max-width: 520px;
}

.container .main .informacoes .btn-register {
    background-color: #fff;
    border-radius: 28px;
    border: none;
    color: #684BB1;
    cursor: pointer;
    font-size: 1.125rem;
    margin-top: 24px;
    padding: 13px 64px;
    transition: 0.3s ease-in-out;


}

.container .main .informacoes .btn-register{
    transition: 0.3s ease-in-out;
}

.container .main .informacoes .btn-register:hover a{
    color: #fff;
   
}

.container .main .informacoes .btn-register:hover {
    background-color: #E880E8;
}

.container .footer {

    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.container .footer .fa-facebook-f,
.fa-instagram,
.fa-twitter {
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    height: 16px;
    margin: 16px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    width: 16px;

}

.container .footer .fa-facebook-f:hover,
.fa-instagram:hover,
.fa-twitter:hover{
    border-color: #E880E8;
    color: #E880E8;
}
   
